@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: "Montserrat", sans-serif;

  line-height: 1.5;
  font-weight: 400;
  background-color: #0f172a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:-webkit-autofill {
  background-color: #64748b;
}

body {
  background-color: #0f172a;
}

#close-card-button {
  background-color: transparent;
}

.custom-form-item .ant-form-item-label > label {
  color: #94a3b8;
}

.custom-datePicker .ant-picker-ok > button {
  background-color: #1677ff;
}

.custom-result.ant-result .ant-result-title,
.custom-result.ant-result .ant-result-subtitle {
  color: #94a3b8;
}

.custom-result.ant-result .ant-result-icon svg {
  color: #cbd5e1;
}

#amount-of-asset::-webkit-inner-spin-button,
#amount-of-asset::-webkit-outer-spin-button {
  height: 40px;
  margin: 0;
  transition: all 300ms ease-in-out;
  display: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  transition: all 300ms ease-in-out;
  background-color: #2563eb;
  background-image: none;
}

#delete-btn {
  background-color: #e11d48;
}

#open-chart-btn,
#forgot-password,
#calculator-btn {
  background-color: transparent;
}

#addRemoveAmount {
  background-color: #dbeafe;
}

#cancel-btn,
#delete-btn {
  font-weight: 600;
  font-size: 18px;
}

#delete-btn:hover {
  background-color: #f43f5e;
}

#login-psw-btn,
#reg-psw-btn,
#reg-conf-psw-btn {
  background-color: #64748b;
}

#log-btn,
#reg-btn {
  background-color: #1e3a8a;
}

#log-btn:hover,
#reg-btn:hover {
  background-color: #1d4ed8;
}

.custom-table .ant-table-cell {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

@media (max-width: 768px) {
  .responsive-layout {
    flex-direction: column;
  }

  .sider-top {
    order: -1;
  }

  .custom-table .ant-table-cell {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .sider-top .ant-layout-sider-zero-width-trigger {
    display: none;
  }
}

.active {
  color: #1677ff;
  opacity: 0.85;
}
